/* Basic styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

nav {
    background: #222;
    padding: 0 15px;
}

.scrolled {
    background-color: rgba(34, 34, 34, 0.8);
}

a {
    color: white;
    text-decoration: none;
}

.menu {
    list-style-type: none;
}

.item {
    padding: 10px;
}

.item:not(.button) a:hover, .item a:hover::after {
    color: #ccc;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(4, 4, 33, 0.7) 75%, #040421 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.h-100 {
    height: 100%!important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*Pages*/

.title{
    position: absolute;
    width: 300px;
    height: 56px;
    left: 73px;
    padding-top: 10px;
    padding-bottom: 100px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 56px;

    color: #646C96;
}

#game{
    background-color: #F3F5FF;
    margin-top: 75px;
    height: 450px;
}



#about{

    background-color: #F3F5FF;
    height: 550px;
}

#process{
    background-color: #F3F5FF;
    height: 420px;
}

#team{
    background-color: #DBE4D4;
    height: 350px;
}

#play_button{
    text-align: center;
    padding-top: 50px;
}

#logoBig{
    text-align: center;
    padding-top: 70px;
}

.link{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #646C96;
}

/*
.home-section, .about-section, .blog-section, .contact-section {
    height: 70vh;
    width: 100vw;
    display: grid;
    padding-top: 10vh;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-rows: 100px 100px;
}
*/

#processTitle{
    margin-top: 30px;
}



.aboutPic{
    position: absolute;
    width: 370px;
    height: 210px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
}

#stars{
    margin-top: -50px;
    text-align: center;
}

#dog{
    margin-top: -380px;
    text-align: right;
}

#fillGreen{
    margin-top: -200px;
    background-color: #DBE4D4;
    height: 300px;
}

#aboutPicture1{
    left: 73px;
}

#aboutPicture2{
    left: 535px;
}

#aboutPicture3{
    left: 997px;
}

.aboutHeaders{
    position: absolute;
    width: 370px;
    height: 117px;
    left: 0px;
    top: 230px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    line-height: 25px;
    text-align: left;

    color: #000000;
}

.fontText{
    position: absolute;
    width: 370px;
    height: 117px;
    top: 265px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: left;

    color: #000000;
}

.aboutPicture{
    width: 150px;
    height: 150px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.projectTitle{
    margin-top: 30px;
}

/* Create three equal columns that floats next to each other */
.column {
    /*float: left; */
  /*  top: 600px; */
    position: absolute;
    width: 370px;
    margin-top: 90px;
  /*  width: 33.33%;
    padding: 10px;
    height: 300px; *//* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.eyeBox {
    width: 100%;
}

.eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #CCC;
}

.eye:after {
    /*pupil*/
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    content: " ";
}


/* Mobile */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
    border-top: 2px solid rgba(49, 49, 49, 0.541);
}

.active .item {
    display: block;
}


.ourNames{
    ont-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

/* Tablet */

@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    .grid-container {
        grid-template-columns: auto auto auto;
    }
}

/* Desktop */

@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
        border-top: none;
    }
    .toggle {
        display: none;
    }
    .grid-container {
        grid-template-columns: auto auto auto auto auto auto;
    }
}