* {
    margin: 0;
    padding: 0;
    /*overflow: hidden;  Hide scrollbars */
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none; -o-user-select:none;
}
.svgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
}

svg {
    position: absolute;
  }

.z-minus{
    z-index: -2;
}

.infoText{
    font-style: roboto;
    color:black;
    font-weight: bold;

}

#starsFound{
    left: 68.6vw;
    top: 4.7vh;
}

#introText{
    left: 28.5vw;
    top: 4.7vh;
}
#introText2{
    left: 23vw;
    top: 36vh;
    position: fixed;
    font-size: 7vh;
}

#inputName{
    left: 7vw;
    top: 20vh;
}

#highScores{
    position: fixed;
    font-size: 4.5vh;
    left: 49vw;
    top: 22vh;
    line-height: 1.36;
}

.titleText{
    position: fixed;
    font-size: 4.5vh;
}

.pointer{
    cursor: pointer;
}

#congratz{
    display: none;
}
